<h1><%= @artist.name %></h1>
<%= link_to "[Delete artist!]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>

<h4>All songs!</h4>

<ul id="songlist">
<% if @artist.songs.any? %>
    <% @artist.songs.each do |song| %>
      <li id="<%= song.id %>"><%= song.name %>
          </br>
          <%= link_to "[Delete song!]", artist_song_path(@artist, song), method: :delete, data: { confirm: "Are you sure? Do you really want to delete this song?" } %>
          <a href="#" onclick="removeSong(0, <%= song.id %>)" id="delete-one-song">[Delete song via Ajax]</a>
        </li>
    <% end %>
<% else %>
  <li><p>This artist did not produce songs.</p></li>
<% end %>
</ul>

<a href="#" onclick="deleteAllSongs()" id="delete-all">[Delete all songs of this artist via Ajax]</a>

  <%= render "songs/form", artists: @artists%>
